<ion-header class="header visit-header">
  <span class="back-button" (click)="back()">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </span>
  <div class="visit-header__title">Журнал {{groupName}}</div>
</ion-header>

<ion-content>
  <ion-list class="student-list">
    <ion-item class="student-list__item" *ngFor="let student of ordersData; let i = index">
       <div class="students-list__item-1" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
         <span> {{i + 1 + '.'}} {{ student.firstName }} {{student.lastName}}</span>
         <div style="display: flex;">
           <ion-checkbox color="danger" [checked]="student.isFirstVisit" style=" margin-right: 10px;"></ion-checkbox>
           <ion-checkbox [checked]="student.isVisit"></ion-checkbox>
         </div>
       </div>
    </ion-item>
     <ion-item class="student-list__item">
       <ion-label class="students-list__item">
         <span class="bold">Согласовано</span>
         <div>
           <ion-checkbox color="primary" checked="true"></ion-checkbox>
         </div>
       </ion-label>
     </ion-item>
  </ion-list>
</ion-content>
