<ion-header class="header visit-header">
  <span class="back-button" (click)="back()">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </span>
  <div class="visit-header__title">Математика</div>
</ion-header>

<ion-content class="content">
  <div class="visit-wrapper">
    <div class="visit__title">
      Группа ИТ-41
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()" class="students-list">
      <ion-label class="students-list__item" formArrayName="orders" (click)="goToWhy()"
        *ngFor="let order of form.controls.orders.controls; let i = index">
        {{i + 1 + '.'}} {{ordersData[i].firstName}} {{ordersData[i].lastName}}
        <ion-checkbox [formControlName]="i" ></ion-checkbox>
      </ion-label>
      <div class="total-all">
        <div class="total-count">Общее число студентов на паре: {{total}}</div>
        <ion-button type="submit">Посчитать</ion-button>
      </div> 
    </form>
  </div>
</ion-content>
