<ion-header class="header">
  <ion-toolbar class="toolbar">
    <ion-title class="header__title">Вход</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <div class="login-wrapper">
    <div class="login-form">
      <div class="login-form__item">
        <ion-label class="login-form__label">Логин</ion-label>
        <ion-input type="text" placeholder="Введите логин" class="login-form__input"></ion-input>
      </div>
      <div class="login-form__item">
        <ion-label class="login-form__label">Пароль</ion-label>
        <ion-input type="password" placeholder="Введите пароль" class="login-form__input"></ion-input>
      </div>
      <div class="login-form__item">
        <ion-button>Войти</ion-button>
      </div>
    </div>
  </div>
</ion-content>
