<ion-header class="header">
  <ion-toolbar class="toolbar">
    <ion-title class="header__title">Вход</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <div class="login-wrapper">
    <form class="login-form" [formGroup]="loginForm">
      <div class="login-form__item">
        <ion-label class="login-form__label">Логин</ion-label>
        <ion-input type="text" placeholder="Введите логин" class="login-form__input" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
        </ion-input>
         <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
           <div *ngIf="f.username.errors.required">Логин обязателен</div>
         </div>
      </div>
      <div class="login-form__item">
        <ion-label class="login-form__label">Пароль</ion-label>
        <ion-input type="password" placeholder="Введите пароль" class="login-form__input" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
        </ion-input>
         <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
           <div *ngIf="f.password.errors.required">Пароль обязятелен</div>
         </div>
      </div>
      <div class="login-form__item">
        <ion-button class="login-form__btn" [disabled]="loading" (click)="onSubmit()" tyle="submit">Войти</ion-button>
      </div>
    </form>
  </div>
</ion-content>
